name: CI/CD Pipeline

on:
  push:
    branches: [dev]
  workflow_dispatch:
    inputs:
      log_errors:
        description: "Generate error logs on test failure"
        required: true
        default: false
        type: boolean

env:
  COINMARKETCAP_API_KEY: ${{ secrets.COINMARKETCAP_API_KEY }}
  COINMARKETCAP_SYMBOLS: "BTC"
  UPDATE_FREQ_SEC: 60

jobs:
  test:
    name: Run Tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      
      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.12"
      
      - name: Install uv
        run: pip install uv
      
      - name: Install dependencies
        run: uv sync --extra dev
      
      - name: Run tests
        run: uv run pytest -v
  docker:
    runs-on: ubuntu-latest

    needs: pytest

    steps:
      -
        name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ vars.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      -
        name: Build and push
        uses: docker/build-push-action@v6
        with:
          push: true
          tags: |
            ${{ vars.DOCKERHUB_USERNAME }}/${{ vars.DOCKERHUB_IMAGE }}:latest
            ${{ vars.DOCKERHUB_USERNAME }}/${{ vars.DOCKERHUB_IMAGE }}:${{ github.sha }}
