name: CI/CD Pipeline

on:
  push:
    branches: [main]
  workflow_dispatch:
    inputs:
      log_errors:
        description: "Generate error logs on test failure"
        required: true
        default: false
        type: boolean

env:
  COINMARKETCAP_API_KEY: ${{ secrets.COINMARKETCAP_API_KEY }}
  COINMARKETCAP_SYMBOLS: "BTC"
  UPDATE_FREQ_SEC: 60

jobs:
  test:
    name: Run Tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      
      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.12"
      
      - name: Install uv
        run: pip install uv
      
      - name: Install dependencies
        run: uv sync --extra dev
      
      - name: Run tests
        run: uv run pytest -v

  build:
    name: Build Docker Image
    needs: test
    if: success()
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      
      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: docker.io/${{ secrets.DOCKERHUB_USERNAME }}/crypto-dashboard:latest
          cache-from: type=gha
          cache-to: type=gha,mode=max   

  azure:
    name: Deploy to Azure Web App
    runs-on: ubuntu-latest
    needs: build
    if: success()
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Deploy container to Azure Web App
        uses: azure/webapps-deploy@v3
        with:
          app-name: ci-cd-main
          publish-profile: ${{ secrets.AZURE_WEBAPP_PUBLISH_PROFILE }}
          images: docker.io/${{ secrets.DOCKERHUB_USERNAME }}/crypto-dashboard:latest
